* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  /*max-width: 1400px;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  border: 2px solid #00ddff;
  border-radius: 6px;
  padding: 1rem;
  margin: 0 auto;
}

.count {
  width: 100%;
  background-color: #00ddff;
  border-radius: 6px;
  font-size: 7rem; /* Увеличьте размер шрифта на ваш выбор */
  color: #333;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem; /* Увеличьте отступ, если необходимо */
}

.redCount {
  width: 100%;
  background-color: #00ddff;
  border-radius: 6px;
  font-size: 7rem; /* Увеличьте размер шрифта на ваш выбор */
  color: #ff0145;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem; /* Увеличьте отступ, если необходимо */
}

/*h1 {*/
/*  font-size: 2rem;*/
/*  color: #333;*/
/*}*/


.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #00ddff;
  border-radius: 6px;
  padding: 0.5rem;
  margin-top: 1rem;
}


.buttonContainer > button {
  font-size: 3rem;
  padding: 0.5rem 1rem;
  background-color: #00ddff;
  color: #1a1a1a;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 0.5rem;
}

.buttonContainer > button:hover {
  background-color: #ff0145;
}

.buttonContainer > button:disabled {
  background-color: #ccc; /* Измените цвет фона на серый */
  color: #888; /* Измените цвет текста на более светлый серый */
  cursor: not-allowed; /* Измените курсор на "не разрешен" */
}